{% extends '_base_layout.html' %}
{% load static %}

{% block title %}Seagull{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class="sv-info">
        <span class="version">
            Версия:
            {{ sv.version }}
        </span>
        <br/>
        <span>
            Состояние:
            <span class="badge badge-pill
                        {% if sv.state.color == 'green' %}badge-success{% endif %}
                        {% if sv.state.color == 'yellow' %}badge-warning{% endif %}
                        {% if sv.state.color == 'red' %}badge-danger{% endif %}"
                  title="{{ sv.state.description }}">
                {{ sv.state.title }}
            </span>
        </span>
    </div>
{% endblock %}

{% block content %}
    <div class="groups-list" id="app">
        <div class="groups-header">
            <input type="text" class="groups-filter form-control form-control-sm" placeholder="Поиск" v-model="search">

            <button type="button"
                    @click="getAllProcesses()"
                    :disabled="spinners.reloadAll"
                    class="btn btn-primary btn-sm groups-reload-btn">
                <span class="spinner-grow spinner-grow-sm" v-if="spinners.reloadAll" role="status" aria-hidden="true"></span>
                <i class="fas fa-sync" v-else></i>
            </button>
        </div>

        <div class="card group"
             v-for="(group, groupName) in filteredProcessGroups">
            <div class="group-header">
                <i class="fas fa-circle"
                   :class="[ someProcessWorking(group) ? 'text-success': 'text-warning' ]"
                ></i>

                <a class="group-name text-secondary"
                   title="Развернуть"
                   href="#"
                   @click.prevent="$set(showedGroups, groupName, !showedGroups[groupName])"
                >
                    [[ groupName ]]
                    <i class="toggle-icon fas"
                       :class="[showedGroups[groupName] ? 'fa-chevron-up' : 'fa-chevron-down']"
                    ></i>
                </a>

                <div class="group-actions">
                    <button type="button"
                            v-if="!someProcessWorking(group)"
                            @click="startProcess(groupName + ':*')"
                            :disabled="spinners.start[groupName + ':*']"
                            class="btn btn-success btn-sm">
                        <span class="spinner-grow spinner-grow-sm" v-if="spinners.start[groupName + ':*']" role="status" aria-hidden="true"></span>
                        Запустить
                    </button>
                    <template v-else>
                        <button type="button"
                                @click="restartProcess(groupName + ':*')"
                                :disabled="spinners.restart[groupName + ':*']"
                                class="btn btn-primary btn-sm">
                            <span class="spinner-grow spinner-grow-sm" v-if="spinners.restart[groupName + ':*']" role="status" aria-hidden="true"></span>
                            Перезапустить
                        </button>

                        <button type="button"
                                @click="stopProcess(groupName + ':*')"
                                :disabled="spinners.stop[groupName + ':*']"
                                class="btn btn-danger btn-sm">
                            <span class="spinner-grow spinner-grow-sm" v-if="spinners.stop[groupName + ':*']" role="status" aria-hidden="true"></span>
                            Остановить
                        </button>
                    </template>
                </div>
            </div>
            <div v-show="showedGroups[groupName]">
                <table class="table">
                <thead>
                    <tr>
                        <th>Состояние</th>
                        <th>Название</th>
                        <th>Время запуска</th>
                        <th>Время остановки</th>
                        <th>Аптайм</th>
                        <th class="actions-head">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="process in group">
                        <td class="state-cell">
                            <span class="badge badge-pill"
                                  :title="process.state.description"
                                  :class="{
                                    'badge-success': process.state.color === 'green',
                                    'badge-warning': process.state.color === 'yellow',
                                    'badge-danger': process.state.color === 'red',
                                  }">
                                [[ process.state.title ]]
                            </span>
                        </td>
                        <td>
                            <a href="#">
                                [[ process.name ]]
                            </a>
                        </td>
                        <td>[[ humanizeDate(process.start) ]]</td>
                        <td>[[ process.state.name !== 'RUNNING' && process.statename !== 'STARTING' ?
                                humanizeDate(process.stop): '' ]]</td>
                        <td>[[ process.state.name === 'RUNNING' ?
                                getUptime(process) : '' ]]</td>
                        <td class="actions-cell">
                            <button type="button"
                                    v-if="process.state.name !== 'RUNNING' && process.statename !== 'STARTING'"
                                    @click="startProcess(process.full_name)"
                                    :disabled="spinners.start[process.full_name]"
                                    class="btn btn-success btn-sm">
                                <span class="spinner-grow spinner-grow-sm" v-if="spinners.start[process.full_name]" role="status" aria-hidden="true"></span>
                                <i class="fas fa-play" v-else></i>
                            </button>
                            <button type="button"
                                    v-if="process.state.name !== 'STOPPED'"
                                    @click="restartProcess(process.full_name)"
                                    :disabled="spinners.restart[process.full_name]"
                                    class="btn btn-primary btn-sm">
                                <span class="spinner-grow spinner-grow-sm" v-if="spinners.restart[process.full_name]" role="status" aria-hidden="true"></span>
                                <i class="fas fa-redo" v-else></i>
                            </button>
                            <button type="button"
                                    v-if="process.state.name !== 'STOPPED'"
                                    @click="stopProcess(process.full_name)"
                                    :disabled="spinners.stop[process.full_name]"
                                    class="btn btn-danger btn-sm">
                                <span class="spinner-grow spinner-grow-sm" v-if="spinners.stop[process.full_name]" role="status" aria-hidden="true"></span>
                                <i class="fas fa-stop" v-else></i>
                            </button>
                            <button type="button"
                                    @click="showLogs(process.full_name)"
                                    :disabled="spinners.logs[process.full_name]"
                                    data-toggle="modal"
                                    data-target="#logModal"
                                    class="btn btn-info btn-sm">
                                <span class="spinner-grow spinner-grow-sm" v-if="spinners.logs[process.full_name]" role="status" aria-hidden="true"></span>
                                <i class="fas fa-list-ol" v-else></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        {#Modal#}
        <div class="modal" tabindex="-1" role="dialog" id="logModal">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-list-ol"></i>
                    Логи [[ currentModalGroup ]]
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="log-block">
                    <h2>stdErr tail:</h2>
                    <pre>
                        [[ procStdErr || 'Здесь пока пусто...' ]]
                    </pre>
                </div>
                <hr />
                <div class="log-block">
                    <h2>stdOut tail:</h2>
                    <pre>
                        [[ procStdOut || 'Здесь пока пусто...' ]]
                    </pre>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{#    TODO: возможно это стоит вынести в base_layout#}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script>
        var vm = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                search: '',
                processGroups: null,
                spinners: {
                    reloadAll: false,
                    start: {},
                    restart: {},
                    stop: {},
                    logs: {},
                },
                currentModalGroup: '',
                procStdOut: null,
                procStdErr: null,
                showedGroups: {}
            },
            computed:{
              filteredProcessGroups() {
                  if (!this.processGroups) return []

                  var re = new RegExp(this.search.toLowerCase())
                  var self = this

                  return Object.keys(this.processGroups).reduce(function (agg, pgKey) {
                      if (re.test(pgKey.toLowerCase())) {
                          agg[pgKey] = self.processGroups[pgKey]
                          return agg
                      }

                      var hits = self.processGroups[pgKey].filter(function (p) {
                         return re.test(p.name.toLowerCase())
                      })

                      if (hits.length > 0) {
                          agg[pgKey] = hits
                      }

                      return agg;
                  }, {})
              }
            },
            mounted() {
                {#Req Preset#}
                axios.interceptors.request.use(function (config) {
                    config.headers['X-CSRFToken'] = Cookies.get('csrftoken');
                    return config;
                });

                this.getAllProcesses()
            },
            methods: {
                getAllProcesses() {
                    var self = this

                    this.$set(this.spinners, 'reloadAll', true)

                    axios.get('/api/process/all/')
                        .then(function (response) {
                            self.processGroups = response.data.data
                            self.$set(self.spinners, 'reloadAll', false)
                        })
                },
                startProcess(processName) {
                    var self = this

                    this.$set(this.spinners.start, processName, true)

                    axios.post('/api/process/start/', { name: processName })
                        .then(function (response) {
                            self.getAllProcesses()
                            self.$set(self.spinners.start, processName, false)
                        })
                },
                restartProcess(processName) {
                    var self = this

                    this.$set(this.spinners.restart, processName, true)

                    axios.post('/api/process/restart/', { name: processName })
                        .then(function (response) {
                            self.getAllProcesses()
                            self.$set(self.spinners.restart, processName, false)
                        })
                },
                stopProcess(processName) {
                    var self = this

                    this.$set(this.spinners.stop, processName, true)

                    axios.post('/api/process/stop/', { name: processName })
                        .then(function (response) {
                            self.getAllProcesses()
                            self.$set(self.spinners.stop, processName, false)
                        })
                },
                showLogs(processName) {
                    var self = this

                    this.currentModalGroup = processName
                    this.$set(this.spinners.logs, processName, true)

                    axios.post('/api/process/stdout_log/', { name: processName })
                        .then(function (stdoutRes) {
                            self.procStdOut = stdoutRes.data.data[0]
                            return axios.post('/api/process/stderr_log/', { name: processName })
                        })
                        .then(function (stderrRes) {
                            self.procStdErr = stderrRes.data.data[0]

                            var modal = $('#logModal')

                            modal.modal('show')

                            modal.on('hidden.bs.modal', function () {
                                self.procStdOut = null
                                self.procStdErr = null
                            })

                            self.$set(self.spinners.logs, processName, false)
                        })
                },
                humanizeDate(ts) {
                    return moment(ts * 1000).format('DD.MM.YY HH:mm:ss')
                },
                getUptime(process) {
                    var ms = moment(Date.now()).diff(process.start * 1000);
                    var d = moment.duration(ms)
                    var hours = Math.floor(d.asHours())
                    var days = hours > 24 ? Math.floor(d.asDays()) + 'д.' : ''

                    return days + ' ' + hours + moment.utc(ms).format(":mm:ss")
                },
                someProcessWorking(group) {
                    return group.some(p => p.state.name === 'RUNNING')
                }
            }
        })
    </script>
{% endblock %}