.groups-list .groups-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0;
}

.groups-header .groups-filter {
    width: 300px;
}

.groups-header .groups-reload-btn {
    width: 32px;
    height: 31px;
    margin-left: 31px;
}

.group {
    margin-bottom: 75px;
    padding: 0 15px;
}

.group .table .state-cell .badge {
    font-size: 14px;
    font-weight: 400;
}

.group .table .actions-head,
.group .table .actions-cell {
    text-align: right;
}
.group .table .actions-cell .btn {
    margin-left: 7px;
}

.group .caption-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group .group-name {
    margin-left: 5px;
}
.group .caption-wrapper .group-actions {
    margin-left: auto;
}